<header>
	<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
		<div class="container">
			<a href="/" id="brandButton" class="navbar-brand">Sugoi</a>
			<form id="logoutForm" action="/logout" method="POST">
				<a href="/system" class="btn btn-info"><i class="fa fa-cog"></i></a>
				<button type="submit" class="btn btn-secondary">Logout</button>
			</form>
		</div>
	</div>
</header>

<main class="py-4">